h1 {
  text-align: center;
  color: white;
  padding: 3rem;
}

h2 {
  text-align: center;
  color: white;
}

.video-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

.project-github-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 50vw;
  color: white;
}

.project-github-icon {
  color: white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

p {
  color: white;
  text-align: center;
  font-family: "Hubballi", sans-serif;
  font-size: 1rem;
  padding: 3rem;
}

h3 {
  text-align: center;
  color: white;
  font-family: "Hubballi", sans-serif;
  margin-bottom: 8rem;
}

.github-container {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.vercel-container {
  display: flex;
  justify-content: center;
  width: 10rem;
}

.v-s {
  display: flex;
}