
<div class='whole-container'>
    <div class='container'>
            I’ve lived in the Bay Area my whole life. Ironically, I’ve never been into technology until a couple years ago.
            <br /><br />
            It all started when I got on Twitter and started following people like Naval and Sahil who talked about coding as leverage. 
            It’s a skill that’s valuable and free to learn. Looking into it, I saw all the advantages coding provides:
    </div>
    <h1>Feedback Loop</h1>
    <div class="container">
            I taught myself basketball when I was entering 6th grade. At first, I was horrible. Shooting with two hands, travelling all over the place, and missing every conceivable shot. 
            <br /><br />
            But, the reason I got better was due to attempts. Whenever I missed a shot, I would adjust my shooting form. 
            This is the sole reason why I got better. 
            <br /><br />
            The feedback loop between shooting and results is instant. The process tells you whether you’re right or not. Another great part about basketball is all you need is a ball and hoop. 
            <br /><br />
            The feedback loop similarities between basketball and coding resonate with me. To practice coding, all I need is a laptop and Wi-Fi. 
            <br /><br />
            I can practice anywhere that has Wi-Fi similar to how I can practice anywhere there’s a hoop. 
            The more attempts I get, the better I am. 
    </div>
    <h1>Creativity</h1>
    <div class="container">
            Coding is basically writing to me. The way you structure sentences depends on the writer. And, the set up of your code depends on the programmer. 
            The creativity with coding is endless which I was I won’t go in-depth on it.
            <br /><br />
            What I will talk about is what I don’t want, and what I don’t want is tedious work. 
            <br /><br />
            Tedious work makes me feel like my life is rotting away. I know this sounds dramatic, but I feel like humans are meant to do more than one simple task the whole day. 
            I speak from experience because I’ve been in accounting where data entry is crucial. 
            <br /><br />
            It’s hard to be valuable when a majority of my work is doing one simple task too. 
            I feel more fulfillment from learning one thing everyday compared to being “productive” by doing the same task eight hours straight.
    </div>
    <h1>Learning Everyday</h1>
    <div class="container">
            Part of my perfect day is learning something new. Coding gives me the opportunity to do so. There’s many opportunities to learn in the coding world. 
            From open-source to side projects, it all depends on what I want to do.
    </div>
    <h1>Side Projects</h1>
    <div class="container">
        Doing side projects is another form of fulfillment. 
        <br /><br />
        Using my coding skills, I can make a bot, website, or app that benefits me. To me, the fulfillment from creating your own project is similar to cooking your own food. You’re doing it for your benefit. 
        <br /><br />
        I can also take my coding skills and create side hustles. The potential of making something with my own hands and people paying for something they find valuable means much more than making money.
        <br /><br /> 
        One of the best parts is I can do all of this sitting in my bedroom. But, that’s not even the best part.
    </div>
    <h1>Community</h1>
    <div class="container">
    The developer community is the most supportive community I’ve seen. Whenever someone on Twitter gets a job, there’s a million congratulations. 
    <br /><br />
    People think of programming as a lonely profession. And, to be honest, that was my original thinking too. The reality is coding requires teamwork. 
    <br /><br />
    I haven’t built a project with someone, but watching videos from other developers lets me know you need other people. 
    Bouncing ideas off another person is fun. You learn from them while they learn from you.
    </div>
</div>