
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.thisone {
    display: flex;
    justify-content: center;
    text-align: center;
}

.playerImageContainer {
    margin-top: 3rem;
}

.button {
    padding: 0.35em 1.2em;
    width: 250px;
    background-color: #b22222;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.buttonPlacement {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 3rem auto;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: darkgray;
    border-radius: 50%;
    display: block;
    position: relative;
}

.dotAlign {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    right: 10px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.inactive {
    background-color: darkgray;
}

.active {
    background-color: #152238;
} 

.invisible {
    display: none;
}

.curryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 2rem;
    max-width: 960px;
}

.playerImageContainer image {
    width: 90vw;
}

.warriorPlayerImage {
    max-width: 100%;
    height: auto;
    display: block;
}

.statsBox {
    background-color: #5288a4;
    margin-top: 2rem;
    border-radius: 10px;
    height: 400px;
    width: 90vw;
    margin: 0 auto;
}

.innerStatsBox {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    position: relative;
    top: 2rem;
    height: 320px;
    color: white;
}

h1 span {
    font-size: 4rem;
}

@media only screen and (min-width: 2000px) and (max-width: 2800px) {
    .curryContainer {
        margin-top: 10rem;
    }

    .button {
        padding: 1em 1.2em;
        width: 300px;
        font-weight: 500;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1999px) {
    .button {
        padding: 0.8em 1em;
        font-weight: 500;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1440px) {
    .button {
        padding: 1em 1.2em;
    }
}

@media only screen and (max-width: 500px) {
    .curryContainer {
        width: 90vw;
    }
}

@media only screen and (max-width: 425px) {
    h1 span {
        font-size: 3rem;
    }

    .buttonPlacement {
        text-align: center;
        flex-direction: column;
        margin: auto;
        margin-bottom: 3rem;
    }

    .button {
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 320px) {
    h1 span {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 250px) {
    .button {
        width: 10rem;
    }
}