
.wrapper {
    background-color: #303030;
    background-image: url('/Users/l/portfolio-website/src/Images/bg.png');
    box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
}