.footer-container {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

.footer-icon {
  width: 3rem;
  height: 3rem;
  color: white;
  cursor: pointer;
}
